.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}

.text-yes {
  background: rgb(55, 180, 0, 0.32);
}

.text-no {
  background: rgb(243, 23, 0, 0.32);
}

.k-dialog-buttongroup {
  border: none;
  padding: 0;
  padding-bottom: 20px;
}
